.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5rem;
  padding: 4rem;
  background: url(../imgs/windowxp.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 500px;
  max-width: 600px;
  border-radius: 3%;
  font-size: large;
}

.header {
  font-weight: bold;
  margin-bottom: 3em;
}

.text,
.input,
.buttons {
  background: white;
  opacity: 0.9;
}

.inputs input {
  border-radius: 4px;
  padding: 5px 30px;
}

.input {
  margin: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttons button {
  background: rgba(0, 255, 255, 0.7);
  border-radius: 3px;
  padding: 3px;
  margin: 10px;
  color: ivory;
  font-weight: 600;
}

.error {
  background: coral;
}
